* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: rgb(145, 197, 145);
  display: flex;
  justify-content: center;
  align-items: center;
}
#panel {
  width: 85%;
  height: 85%;
  background-color: #cbe6d3;
  border-radius: 10px;
}
#p-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  background-color: #d39393;
  height: 100px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  color: #fff;
}
.elem {
  width: 10%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.box {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  color: #945656;
  font-weight: 700;
  font-size: 25px;
}
#p-bottom{
  color: #8b5252;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100%-100px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #c09797;
  color: #fff;
  border-radius: 50%;
  font-weight: 500;
  transition: 0.5s;
}
.bubble:hover {
  background-color: #cf4a4a;
  cursor: pointer;
}
